{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '個人情報保護方針'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <p>
                    
                </p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">個人情報の取り扱いについて</div>
                <p><font style="font-family: verdana, geneva, sans-serif;" size="3">
個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本個人情報保護方針を遵守し、お客様が安心してお買い物をお楽しみいただけるよう、お客様の個人情報の適切な保護に努めます。
<br>
<br><b>個人情報の定義</b>
<br>お客様本人に関する情報(以下「個人情報」といいます)です。氏名、生年月日、性別、職業等のプロフィールに関する情報、メールアドレス、電話番号、住所等連絡先に関する情報、クレジットカード情報、銀行口座情報、電子マネー情報等決済手段に関する情報、商業的情報（購入店舗、購買履歴等の利用履歴等）など当該お客さま個人を識別することができる情報を差します。加えて、他の情報と組み合わせて照合することにより個人を識別することができる情報も含まれます。
<br>
<br>当社では、個人情報の取り扱いの規定を従業員に周知徹底します。
<br>個人情報の漏洩・紛失・改ざん等を防止するため、必要な対策を講じて責任をもって適切な管理を行ないます。
<br>個人情報について、お客様本人からの開示、訂正、削除、利用停止の依頼があった場合、誠意をもって対応します。
<br>当社では、業務を円滑に進めるため、業務の一部を委託し、業務委託先に対して、必要な範囲で個人情報を提供することがあります。この場合、当社はこれらの業務委託先との間で取扱いに関する機密保持契約の締結をはじめ、必要かつ適切な監督を行ないます。なお、業務委託先には国外にある第三者も含みます。
<br>法律に基づき個人情報の開示を要求された場合（裁判所、検察庁、警察などの法的機関からの法律に基づく正式な照会を受けた場合）、これに応じて情報の開示を行う場合があります。
<br>
<br>当社では、お客様の個人情報をサービスの提供、アフターサービス、マーケティング、販売促進、サービス向上の改善、各種イベント・キャンペーン・セミナー等の案内、提供、及び管理するものとして利用させていただく事があります。
<br>
<br>個人情報保護方針の内容は、必要に応じて変更することがあります。お客様の方へは、その都度ご連絡はいたしかねますので、ご利用の際には本ページの最新内容をご参照ください。
<br><br>
<br>個人情報に関するお問合せ対応
<br>担当： 株式会社アースミライ　カスタマーサポート
<br>電話番号：05035706788　受付時間：平日10時~17時 
<br>メール：support@ecnext.jp　受付時間：24時間
<br><br><br><br>

</font></p>
            </div>
        </div>
    </div>
{% endblock %}