{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<style>
.display-sm {
  display: none;
}
#page_help_pro_member .ec-layoutRole .ec-layoutRole__main {
    padding-top: 0;
    padding-bottom: 0;
}
.member-page-nav {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.member-page-nav a {
    padding: 10px 20px;
    background-color: #006CB8;
    color: #fff;
    border-radius: 35px;
    display: block;
    margin: 0 15px 15px 0;
}
.member-page-nav a:hover {
    text-decoration: none;
    opacity: .8;
}
.member-page-nav i {
    margin-left: 5px;
}
.member-page-box {
  padding: 60px 0 100px;
}
.member-page-box:first-child {
  padding-bottom: 0;
}
.member-page-box h2 {
  text-align: center;
  color: #016cbe;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 30px;
}
.member-page-box h3 {
  margin-top: 60px;
  color: #016cbe;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
}
.member-page-box p {
  font-weight: 400;
  color: #222;
  font-size: 17px;
  line-height: 1.8;
  vertical-align: middle;
  margin-bottom: 24px;
}
.member-page-box p.text-small {
  font-size: 14px;
}
.member-page-box p.attention-text {
  margin: 30px 0 10px;
  font-weight: bold;
}
.member-page-box .color-red {
  color: red;
  font-weight: bold;
}
.member-page-box table {
  border-spacing: 2px;
}
.member-page-box table thead th {
  padding: 12px 24px;
  text-align: center;
}
.member-page-box table.table-lg thead th {
  padding: 18px 24px;
  text-align: center;
}
.member-page-box tbody th {
  background-color: #f3f3f3 !important;
  color: #222 !important;
}
.member-page-box table tbody th,
.member-page-box table tbody td {
  padding: 18px 24px;
  border: 1px solid #eee;
}
.member-page-box table.table-lg tbody th,
.member-page-box table.table-lg tbody td {
    padding: 16px 16px;
    border: 1px solid #eee;
    font-size: 16px !important;
}
.member-page-box table.table-lg .icon-center {
    text-align: center;
}
.member-page-box table.table-lg td i.fa-check-circle {
    font-size: 24px;
    color: #036bbe;
}
.member-page-box table.table-lg td i.fa-times-circle {
    font-size: 24px;
    color: #aaa;
}
.member-page-box table th {
  background-color: #3272bc;
  color: #fff;
}
.member-page-box table td {
  color: #222;
  background-color: #fff;
}
.member-feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 40px;
}
.member-feature__icon {
    color: #11A3E6;
    text-align: center;
    height: 50px;
}
.member-feature__icon i {
    font-size: 50px;
}
.member-feature__title {
  text-align: center;
  font-weight: bold !important;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}
.member-feature__text {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
  font-size: 16px !important;
}
.member-feature small {
  margin-top: 5px;
  display: block;
}

.member-flow {
  margin-bottom: 30px;
}
.member-flow__box {
  border-radius: 3px;
  padding: 20px 20px;
  background-color: #f3f3f3;
  margin-top: 20px;
  display: flex;
}
.member-flow__num {
  background-color: #3272bc;
  align-self: self-start;
  color: #fff;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 50%;
}
.member-flow__body {
  margin-left: 24px;
}
.member-flow__title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
.member-flow__text {
  margin: 0 !important;
  font-size: 16px !important;
}
.member-flow .arrow-down {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #3272bc;
}


@media (max-width: 640px) {
  .display-sm {
    margin-top: 5px;
    display: block;
  }
  .member-table-wrap {
    position: relative;
    overflow-x: scroll;
  }
  .member-page-box table {
    min-width: 500px;
  }
  .member-page-box table.table-lg {
    min-width: 800px;
  }
  .member-feature {
    grid-template-columns: 1fr 1fr;
  }
}







/* solid013 */
.button_solid013 a {
    background: #6bb6ff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 5px;
    border-bottom: 4px solid #1d7fde;
    overflow: hidden;
}
.button_solid013 a:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.button_solid013 a:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-image: linear-gradient( 130deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 55%);
  animation: shine 3s infinite;
}
@keyframes shine {
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.button_solid013 a:after {
  content: '»';
  display: inline-block;
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
}















</style>
  
<div class="ec-role">
  <div class="ec-off1Grid">
    <div class="ec-off1Grid__cell">
      <div class="member-page-box for-pro">
        <h2 id="pro">プロ会員サービス</h2>
        <aside id="guideNavi">
        <ul class="member-page-nav">
          <li><a href="#flow">登録からお買い物までの流れ<i class="fas fa-chevron-down"></i></a></li>
        </ul>
      </aside>
        <p>プロ会員とは、ペットビジネス関連の法人、組織、教育機関又は個人事業主に限り、特別価格で商品を購入することができる会員のことです。
        <br>お取引先様の業態は多岐にわたっています（教育機関、小売店、ペットサロン、ペットショップ、ブリーダー、ハンドラーなど）</p>
        <h3 id="flow">登録からお買い物までの流れ</h3>
        <p>ご利用いただくには、プロ会員の登録が必要になります。（登録費、年会費無料）</p>
        <section class="member-flow">
          <div class="member-flow__box">
            <div class="member-flow__num">1</div>
            <div class="member-flow__body">
              <div class="member-flow__title">店舗として登録</div>
              <p class="member-flow__text">まず初めに、店舗としてイーシーネクストに登録をお願いします。</p>
            </div>
          </div>
          <div class="arrow-down"></div>
          <div class="member-flow__box">
            <div class="member-flow__num">2</div>
            <div class="member-flow__body">
              <div class="member-flow__title">動物取扱業者の資料提出</div>
              <p class="member-flow__text">店舗として登録後、マイページから店舗情報や動物取扱業者様の証明となる資料のアップロードを行っていただきます。</p>
            </div>
          </div>
          <div class="arrow-down"></div>
          <div class="member-flow__box">
            <div class="member-flow__num">3</div>
            <div class="member-flow__body">
              <div class="member-flow__title">送付資料を基に弊社で審査</div>
              <p class="member-flow__text">アップロードしていただいた情報をもとに、弊社で審査をいたします。</p>
            </div>
          </div>
          <div class="arrow-down"></div>
          <div class="member-flow__box">
            <div class="member-flow__num">4</div>
            <div class="member-flow__body">
              <div class="member-flow__title">承認手続き</div>
              <p class="member-flow__text">審査後、弊社で承認手続きをいたします。</p>
            </div>
          </div>
          <div class="arrow-down"></div>
          <div class="member-flow__box">
            <div class="member-flow__num">5</div>
            <div class="member-flow__body">
              <div class="member-flow__title">承認完了後お買い物開始</div>
              <p class="member-flow__text">承認が完了次第、買い物開始となります。</p>
            </div>
          </div>
        </section>
        <p>
          
          <small>※内容の詳細につきましては、プロ会員審査完了後にメールにてご案内致します。</small>
          </p>
        <p class="attention-text">注意点と確認事項</p>
        <p class="text-small"><strong>※プロ会員資格について</strong><br>
        ・イーシーネクストプロ会員は、日本に居住するペットビジネス関連の法人又は個人事業主に限ります。<br>
        <br>
          <strong>※配送について</strong><br>
          ・入金確認後、10日以内に出荷いたします。（フードを除く）<br>
          （在庫が無い場合や取り寄せ商品がある場合は商品入荷後出荷いたします。）<br>
          ・在庫状況、運送会社の混雑状況や繁盛期等配達に通常よりお時間を頂く可能性が有ります。ご了承ください。<br>
          ・発送や返品対象は日本国内に限ります。<br>
          ・基本的に配送方法の選択ができません。ご了承くださいませ。<br>
          <br>
          <strong>※送料について</strong><br>
          ・ご購入金額が11,000円以上（税込）の場合、送料は日本全国無料となります。<br>
          ・ご購入金額が11,000円未満（税込）の場合、送料は日本全国一律1,000円（税込）となります。<br>
          ※沖縄県及び一部離島へのお届けは送料無料の対象外です。ご購入金額にかかわらず1,500円（税込）となります。<br>
          <br>
          <strong>※返品交換について<</strong><br>
          ・返品交換は、原則承りません。お買い上げ商品に初期不良があった場合、商品が万が一ご注文商品と違う場合には返品交換に応じます。<br>
          その場合、商品到着確認後7日以内にお電話又はメールにてご連絡下さい。<br>
          手数料につきましては、当方で負担いたします。<br>
          <br>
          <strong>※商品が破損して届いた場合のお願い</strong><br>
弊社より小口出荷にてお届けした商品の箱が、一部破れて届いたなど、輸送中の事故があった場合は、次のようにお願い致します。<br>
輸送中の事故は輸送会社が、運送保険で処理します。<br>
すぐにお届けした運送会社に送り状をご参照の上、ご連絡お願い致します。<br>
運送破損と確認された場合、送料のご負担なく代替品の手配をさせて頂きますので、速やかに弊社へもご連絡をお願い致します。<br>
商品のお受取時の申告が原則となります。<br>
商品が届いた時に破損していれば、その場で配達員にお申し出お願い致します。<br>
配達員と別れてから、破損が判明した場合は、すぐに運送会社にお電話下さい。同様に対応致します。<br>
到着時に「中身の確認の施行」にご協力を…箱は大丈夫。…でも、箱を開けたら、中で商品が破損していた…という場合もございます。<br>
配達から数日経過すると、運送保険の対象外となってしまいます。<br>
お手数ですが、商品到着後は速やかに中身の確認をお願い致します。<br>
<br>
<strong>※商品について</strong><br>
・弊社お取り扱い商品には、特別価格に対応していない商品もございます。
          </p>
                </div>
    </div>
  </div>
</div>

<div class="button_solid013">
  <a href="/entryShop">申込する</a>
</div>
<br>
<div class="button_solid013">
  <a href="/contact">お問い合わせはこちら</a>
</div>
          
          



{% endblock %}