{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    
<font style="font-family: verdana, geneva, sans-serif;" size="3">
                    <dl>
                        <dt>
                            <label class="ec-label">運営会社</label>
                        </dt>
                        <dd>株式会社 イーシーネクスト</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>代表取締役　きり</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">本店所在地</label>
                        </dt>
                        <dd>〒810-0054  福岡県福岡市中央区今川</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">資本金</label>
                        </dt>
                        <dd>1,500万円</dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>05035706788</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd>support@ecnext.jp<a href="mailto:support@ecnext.jp"></a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd>www.ecnext.jp<a href="https://ecnext.jp/"></a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
<dd>■送料
<br><b>&nbsp;&nbsp;◇ 一般会員</b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ご購入金額が5,500円（税込）未満の場合は一律1,000円（税込）となります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5,500円（税込）以上商品ご購入のお客様は、送料無料となります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※沖縄県及び一部離島へのお届けは送料無料の対象外です。購入金額にかかわらず1,500円（税込）となります。
<br><b>&nbsp;&nbsp;◇ プロ会員</b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ご購入金額が11,000円（税込）未満の場合は一律1,000円となります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ご購入金額が11,000円以上（税込）の場合、送料無料となります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※沖縄県及び一部離島へのお届けは送料無料の対象外です。購入金額にかかわらず1,500円（税込）となります。
<br>

■消費税
       <br>&nbsp;&nbsp;&nbsp;&nbsp;すべての商品には販売価格の10％の消費税が含まれます。
       <br>
■必要に応じた手数料（代金引換等）</dd>
</dl>

<dl>
<dt>
<label class="ec-label">引き渡し時期</label>
</dt>
<dd>・入金確認後、10日以内に出荷いたします。（フードを除く）
<br>&nbsp;&nbsp;&nbsp;&nbsp;※在庫が無い場合や取り寄せ商品がある場合は商品入荷後発送いたします。
<br>&nbsp;&nbsp;&nbsp;&nbsp;※在庫状況や運送会社の混雑状況等配達に通常よりお時間を頂く可能性が有ります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;※海外への発送は承っておりません。

<font size="2">
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>[English]</b>&nbsp;&nbsp;Please note that not all items are available for shipping outside Japan.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>[中文]</b>&nbsp;&nbsp;仅限日本国内邮寄，尚未提供海外直邮服务。</font>
</dd>
</dl>


<dl>
<dt>
<label class="ec-label">お支払方法</label>
</dt>
<dd><b>&nbsp;&nbsp;◇ユーザー会員</b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・銀行振込（前払い/振込手数料お客様負担）※支払期限：注文から7日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・郵便振替（前払い/振込手数料お客様負担）※支払期限：注文から7日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・QR決済（決済手数料無料）※支払期限：注文から3日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・クレジットカード決済（決済手数料無料）
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・代金引換（代引手数料無料）※支払期限：配達日から3日以内　
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・WEBコンビニ支払い（前払い/支払手数料無料）※支払期限：注文から3日以内　

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><b>&nbsp;&nbsp;◇プロ会員</b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・銀行振込（前払い/振込手数料お客様負担）※支払期限：注文から7日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・郵便振替（前払い/振込手数料お客様負担）※支払期限：注文から7日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・QR決済（決済手数料無料）※支払期限：注文から3日以内
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・クレジットカード決済（決済手数料有料）
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;・代金引換（代引き手数料330円）※支払期限：配達日から3日以内

<br>※高額金額の場合は、代金引換、WEBコンビニ支払いをお断りさせて頂く場合がございますので、その際は弊社からご連絡を致します。(銀行振込等でご変更して頂く流れとなります。)
<br>※代金引換の利用金額は合計金額10万円（税込）までとさせて頂きます。合計金額を超えますとご購入できませんのでご了承ください。10万円（税込）以上のご購入をご検討されている場合は、【代金引換】以外の決済方法をご利用下さい。
</dd>
</dl>

<dl>
<dt>
<label class="ec-label">返品・交換について</label>
</dt>
<dd><b>◇ユーザー会員</b>
<br>・フードやおやつの返品交換については原則承りません。
<br>・フードやおやつ以外の商品は、新品未開封品のみ返品交換を承ります。
<br>&nbsp;&nbsp;&nbsp;&nbsp;お届日より７日以内にお電話又はメールにてご連絡ください。
<br>・お買い上げ商品に初期不良があった場合、商品が万が一ご注文商品と違う場合には返品交換に応じます。
<br>&nbsp;&nbsp;&nbsp;&nbsp;その場合、商品到着から7日以内にお電話又はメールにてご連絡下さい。
<br>&nbsp;&nbsp;&nbsp;&nbsp;お買い上げ商品に初期不良があった場合、商品が万が一ご注文商品と違う場合の交換手数料につきましては、当方で負担いたします。
<br>&nbsp;&nbsp;&nbsp;&nbsp;お客様の都合による返品交換の場合には、決済手数料、振込手数料および往復送料はお客様のご負担とさせていただきます。
<br>※会員様ステージによる返品手数料は無料の場合がございます。


<br><b>◇プロ会員</b>
<br>・返品交換については原則承りません。
<br>・お買い上げ商品に初期不良があった場合、商品が万が一ご注文商品と違う場合には返品交換に応じます。その場合、商品到着確認後7日以内にお電話又はメールにてご連絡下さい。
お買い上げ商品に初期不良があった場合、商品が万が一ご注文商品と違う場合の交換手数料につきましては、当方で負担いたします。
<br>※場合によって写真での情報提供をお願いする場合がございますので、予めご了承ください。
<br>※予告なく成分・パッケージが変更になることがございますので、予めご了承ください。
<br>
</dd></dl>



<dd>当社は、反社会的勢力との関係を一切持ちません。
<br>反社会的勢力への資金提供や裏取引も一切行いません。
<br>反社会的勢力による不当要求に対しては、一切応じず、担当者や担当部署だけに任せるのではなく、組織全体で対応します。
<br>反社会的勢力による不当要求等に備えて、平素から警察、暴力追放運動センター、弁護士などの外部専門機関と連携関係を構築します。
<br>反社会的勢力の不当要求に対しては、民事と刑事の両面から法的対応を行います。
</dd>
</dl>
</font>
                </div>
            </div>
        </div>
    </div>
{% endblock %}