<div id="shopify-section-163005501139769c62" class="custom_about shopify-section"><div class="c-custom-section">
    <div class="c-custom-section-width">
        <div class="c-custom-section__main">
            <div class="c-custom-section__content">
                
                    <p class="c-custom-section__subHeading">
                        ABOUT US
                    </p>
                

                
                    <h2 class="c-custom-section__heading">
                        プレミアムアイテム<span>を届く</span>
                    </h2>
                


                
                    <p class="c-custom-section__text">
                        世界の一流ブランドを日本のお客様へお届けします。
                    </p>
                
                
                
                    <div class="c-custom-section__button">
                        <a href="/help/about" class="c-custom-section__btn">詳しく見る</a>
                    </div>
                
            </div>

            <div class="c-custom-section__imgBox">
                <div class="c-custom-section__img">
                        <img src="/html/template/default/assets/img/top/present.jpg" alt="" class="u-img">
                </div>
            </div>
        </div>
    </div>
</div>


</div>