<div id="shopify-section-16167068142513abfa" class="custom_brand shopify-section index-section c-logo-list"><div class="page-width c-logo-section">
  <div class="c-logo-section__main"><div class="section-header small--text-center">
        <div class="section-header__title">
          <h2 class="section-header__titleText">
            Brands
          </h2>
        
          <p>取り扱いブランド</p>
        </div>
{#        <a href="/pages/brands" class="section-header__link">一覧を見る</a>
#}
</div><div class="logo-bar logo-bar--16167068142513abfa">
        <div class="new-grid product-grid" data-view="6-2">
            
<font style="font-family: verdana, geneva, sans-serif;" size="2">
    
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=chrischristensen" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/CC.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">クリス・クリステンセン</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=freezedryaustralia" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/FDA.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">フリーズドライ・オーストラリア</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=ivsanbernard" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/ISB.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">イブ・サン・ベルナルド</font></a></div>
            </div>


            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=animalayurveda" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/AnimalAyurveda.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">アニマルアーユルヴィーダ</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=acana" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/acana.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">アカナ</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=orijen" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/orijen.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">オリジン</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=ziwi" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/ziwi.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">ジウィ</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=michinokufarm" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/michinokufarm.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">みちのくファーム</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=bonrupa" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/bonrupa.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">ボン・ルパ</font></a></div>
            </div>

            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=migakende" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/migakende.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">ミガケンデ</font></a></div>
            </div>
            
                        <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=artemis" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/artemis.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">アーテミス</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=blismix" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/blismix.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">ブリスミックス</font></a></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item"><a href="/products/list?name=solidgold" class="logo-bar__link" aria-label="">
                  <img src="/html/template/default/assets/img/top/brands/solidgold.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">ソリッド・ゴールド</font></a></div>
            </div>



{#
<br>
<br>
<hr align="center" size="20" width="100%">
<center>
          <h2 class="section-header__titleText">COMING SOON...</h2>
</center>
<br>
<br>


            
            <div class="grid-item grid-product">
              <div class="logo-bar__item">
                  <img src="/html/template/default/assets/img/top/more_coming_soon.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">Coming Soon</font></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item">
                  <img src="/html/template/default/assets/img/top/more_coming_soon.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">Coming Soon</font></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item">
                  <img src="/html/template/default/assets/img/top/more_coming_soon.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">Coming Soon</font></div>
            </div>
            
            <div class="grid-item grid-product">
              <div class="logo-bar__item">
                  <img src="/html/template/default/assets/img/top/more_coming_soon.png" class="logo-bar__image lazyloaded" alt="">
                  <font color="#1d1d1f">Coming Soon</font></div>
            </div>
            
            
#}
            
</font>
</div>
      </div></div>
</div>
</div>