<div id="shopify-section-16300373876e3d86a2" class="custom_collection shopify-section"><div class="c-collection-list">
    <div class="page-width">
        <div class="c-collection-list__main">
            
                
                
                    <div class="c-collection-list__item">
                        <a href="/products/list?category_id=1" class="c-collection-list__link">
                            <div class="c-collection-list__itemBox">
                                <div class="c-collection-list__itemImg">
                                    <div class="c-collection-list__img">
                                        <img src="/html/template/default/assets/img/top/grooming.png" alt="グルーミング用品" class="u-img lazyloaded">
                                    </div>
                                </div>
                                <div class="c-collection-list__itemContent">
                                    <h2 class="c-collection-list__itemTitle">
                                        グルーミング用品
                                    </h2>
                                    
                                    <p class="c-collection-list__itemText">
                                        商品を探す
                                    </p>
                                    
                                </div>
                                
                                <div class="c-collection-list__itemLabel">
                                    <p class="c-collection-list__itemLabelText">
                                        GROOMING
                                    </p>
                                </div>
                                
                    
                                <div class="c-collection-list__itemButton">
                                    <button class="c-collection-list__btn c-btn"></button>
                                </div>
                            </div>
                        </a>
                    </div>
                
            
                
                
                    <div class="c-collection-list__item">
                        <a href="/products/list?category_id=5" class="c-collection-list__link">
                            <div class="c-collection-list__itemBox">
                                <div class="c-collection-list__itemImg">
                                    <div class="c-collection-list__img">
                                        <img src="/html/template/default/assets/img/top/care.png" alt="ケア用具" class="u-img lazyloaded">
                                    </div>
                                </div>
                                <div class="c-collection-list__itemContent">
                                    <h2 class="c-collection-list__itemTitle">
                                        ケア用具
                                    </h2>
                                    
                                    <p class="c-collection-list__itemText">
                                        商品を探す
                                    </p>
                                    
                                </div>
                                
                                <div class="c-collection-list__itemLabel">
                                    <p class="c-collection-list__itemLabelText">
                                        CARE TOOLS
                                    </p>
                                </div>
                                
                    
                                <div class="c-collection-list__itemButton">
                                    <button class="c-collection-list__btn c-btn"></button>
                                </div>
                            </div>
                        </a>
                    </div>
                
            
                
                
                    <div class="c-collection-list__item">
                        <a href="/products/list?category_id=21" class="c-collection-list__link">
                            <div class="c-collection-list__itemBox">
                                <div class="c-collection-list__itemImg">
                                    <div class="c-collection-list__img">
                                        <img src="/html/template/default/assets/img/top/food.png" alt="フード・おやつ" class="u-img lazyloaded">
                                    </div>
                                </div>
                                <div class="c-collection-list__itemContent">
                                    <h2 class="c-collection-list__itemTitle">
                                        フード・おやつ
                                    </h2>
                                    
                                    <p class="c-collection-list__itemText">
                                        商品を探す
                                    </p>
                                    
                                </div>
                                
                                <div class="c-collection-list__itemLabel">
                                    <p class="c-collection-list__itemLabelText">
                                        FOOD・TREATS
                                    </p>
                                </div>
                                
                    
                                <div class="c-collection-list__itemButton">
                                    <button class="c-collection-list__btn c-btn"></button>
                                </div>
                            </div>
                        </a>
                    </div>
                
            
                
                
                    <div class="c-collection-list__item">
                        <a href="/products/list?category_id=7" class="c-collection-list__link">
                            <div class="c-collection-list__itemBox">
                                <div class="c-collection-list__itemImg">
                                    <div class="c-collection-list__img">
                                        <img src="/html/template/default/assets/img/top/other.png" alt="その他" class="u-img lazyloaded">
                                    </div>
                                </div>
                                <div class="c-collection-list__itemContent">
                                    <h2 class="c-collection-list__itemTitle">
                                        その他
                                    </h2>
                                    
                                    <p class="c-collection-list__itemText">
                                        商品を探す
                                    </p>
                                    
                                </div>
                                
                                <div class="c-collection-list__itemLabel">
                                    <p class="c-collection-list__itemLabelText">
                                        OTHERS
                                    </p>
                                </div>
                                
                    
                                <div class="c-collection-list__itemButton">
                                    <button class="c-collection-list__btn c-btn"></button>
                                </div>
                            </div>
                        </a>
                    </div>
                
            
        </div>
    </div>
</div>

</div>