<div id="shopify-section-16342938243202d1ca" class="custom_fax shopify-section"><div class="c-informations">
    <div class="page-width">
        <div class="c-rows"><div class="c-rows__col">
                <div class="c-informations__content">
                  <h2>
                    <img src="//cdn.shopify.com/s/files/1/0584/4438/2394/files/Group_494_small.png?v=1634293965" alt="">
                    <span>FAX注文用紙</span>
                  </h2>
                    <p>FAXでのご注文も承っております。</p>
                    <a href="https://cdn.shopify.com/s/files/1/0584/4438/2394/files/fax-order.pdf?v=1634297676" target="_blank" class="c-informations__link">注文用紙をダウンロードする</a>
                </div>
            </div><div class="c-rows__col">
                <div class="c-informations__content">
                  <h2>
                    <img src="//cdn.shopify.com/s/files/1/0584/4438/2394/files/Group_492_small.png?v=1634293978" alt="">
                    <span>オンラインカタログ</span>
                  </h2>
                    <p>現在発行しているカタログを閲覧いただけます。</p>
                    <a href="https://fanta-cojp.myshopify.com/pages/catalog-2022" class="c-informations__link">オンラインカタログを見る</a>
                </div>
            </div></div>
    </div>
</div>


</div>