<div class="custom_header_title_outer">
<div class="custom_header_title">
  <p>5,500円以上お買い上げで送料無料</p>
  <div class="toolbar__item small--hide">
            <ul class="inline-list toolbar__social"><li>
                  <a target="_blank" rel="noopener" href="https://ecnext.jp/#" title="Line">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 48 48" width="48px" height="48px">
                        <path d="M25.12,44.521c-2.114,1.162-2.024-0.549-1.933-1.076c0.054-0.314,0.3-1.787,0.3-1.787c0.07-0.534,0.144-1.36-0.067-1.887 c-0.235-0.58-1.166-0.882-1.85-1.029C11.48,37.415,4.011,30.4,4.011,22.025c0-9.342,9.42-16.943,20.995-16.943S46,12.683,46,22.025 C46,32.517,34.872,39.159,25.12,44.521z M18.369,25.845c0-0.56-0.459-1.015-1.023-1.015h-2.856v-6.678 c0-0.56-0.459-1.015-1.023-1.015c-0.565,0-1.023,0.455-1.023,1.015v7.694c0,0.561,0.459,1.016,1.023,1.016h3.879 C17.91,26.863,18.369,26.406,18.369,25.845z M21.357,18.152c0-0.56-0.459-1.015-1.023-1.015c-0.565,0-1.023,0.455-1.023,1.015 v7.694c0,0.561,0.459,1.016,1.023,1.016c0.565,0,1.023-0.456,1.023-1.016V18.152z M30.697,18.152c0-0.56-0.459-1.015-1.023-1.015 c-0.565,0-1.025,0.455-1.025,1.015v4.761l-3.978-5.369c-0.192-0.254-0.499-0.406-0.818-0.406c-0.11,0-0.219,0.016-0.325,0.052 c-0.419,0.139-0.7,0.526-0.7,0.963v7.694c0,0.561,0.46,1.016,1.025,1.016c0.566,0,1.025-0.456,1.025-1.016v-4.759l3.976,5.369 c0.192,0.254,0.498,0.406,0.818,0.406c0.109,0,0.219-0.018,0.325-0.053c0.42-0.137,0.7-0.524,0.7-0.963V18.152z M36.975,20.984 h-2.856v-1.817h2.856c0.566,0,1.025-0.455,1.025-1.015c0-0.56-0.46-1.015-1.025-1.015h-3.879c-0.565,0-1.023,0.455-1.023,1.015 c0,0.001,0,0.001,0,0.003v3.842v0.001c0,0,0,0,0,0.001v3.845c0,0.561,0.46,1.016,1.023,1.016h3.879 c0.565,0,1.025-0.456,1.025-1.016c0-0.56-0.46-1.015-1.025-1.015h-2.856v-1.817h2.856c0.566,0,1.025-0.455,1.025-1.015 c0-0.561-0.46-1.016-1.025-1.016V20.984z"></path></svg>
                    <span class="icon__fallback-text">Line</span>
                  </a>
                </li><li>
                  <a target="_blank" rel="noopener" href="https://ecnext.jp/#" title="Instagram">
                    <svg id="Group_416" data-name="Group 416" xmlns="http://www.w3.org/2000/svg" width="15.57" height="15.57" viewBox="0 0 15.57 15.57">
                      <path id="Path_42" data-name="Path 42" d="M11.568,15.57H4a4.006,4.006,0,0,1-4-4V4A4.006,4.006,0,0,1,4,0h7.566a4.006,4.006,0,0,1,4,4v7.569A4.006,4.006,0,0,1,11.568,15.57ZM4,1.218A2.786,2.786,0,0,0,1.218,4v7.569A2.787,2.787,0,0,0,4,14.352h7.566a2.787,2.787,0,0,0,2.784-2.784V4a2.786,2.786,0,0,0-2.784-2.782Z" transform="translate(0)" fill="#222"></path>
                      <path id="Path_43" data-name="Path 43" d="M22.257,15.236a3.293,3.293,0,1,0-3.293,3.292,3.293,3.293,0,0,0,3.293-3.292Zm.435-4.352a.647.647,0,1,0,.647.647.647.647,0,0,0-.647-.647Zm-5.965,4.352a2.236,2.236,0,1,1,2.236,2.236,2.238,2.238,0,0,1-2.236-2.236Z" transform="translate(-10.988 -7.636)" fill="#222" fill-rule="evenodd"></path>
                    </svg>
                    <span class="icon__fallback-text">Instagram</span>
                  </a>
                </li><li>
                  <a target="_blank" rel="noopener" href="https://ecnext.jp/#" title="Twitter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.073" height="12.859" viewBox="0 0 16.073 12.859">
                      <path id="Path_3428" data-name="Path 3428" d="M16.073,1.522a6.674,6.674,0,0,1-1.893.51,3.259,3.259,0,0,0,1.45-1.8,6.656,6.656,0,0,1-2.095.789A3.316,3.316,0,0,0,11.128,0,3.248,3.248,0,0,0,7.916,3.986,9.418,9.418,0,0,1,1.119.594,3.215,3.215,0,0,0,2.141,4.928,3.333,3.333,0,0,1,.646,4.522v.04A3.191,3.191,0,0,0,.87,5.739,3.3,3.3,0,0,0,3.293,7.747a3.457,3.457,0,0,1-.871.115A3.3,3.3,0,0,1,1.8,7.8a3.3,3.3,0,0,0,3.082,2.254,6.673,6.673,0,0,1-4.1,1.391A6.893,6.893,0,0,1,0,11.4a9.446,9.446,0,0,0,5.054,1.458,9.181,9.181,0,0,0,9.16-7.277,8.933,8.933,0,0,0,.226-1.96c0-.14,0-.28-.011-.42A6.626,6.626,0,0,0,16.073,1.522Z" fill="#222"></path>
                    </svg>
                    <span class="icon__fallback-text">Twitter</span>
                  </a>
                </li><li>
                  <a target="_blank" rel="noopener" href="https://ecnext.jp/#" title="Facebook">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7.231" height="15.494" viewBox="0 0 7.231 15.494">
                    <path id="Path_3429" data-name="Path 3429" d="M4.768,4.647V3.408a.656.656,0,0,1,.685-.744H7.192V.011L4.8,0A3.022,3.022,0,0,0,1.536,3.248v1.4H0v3.1H1.55v7.747h3.1V7.747h2.3L7.06,6.529l.171-1.882Z" fill="#222"></path>
                  </svg>
                    <span class="icon__fallback-text">Facebook</span>
                  </a>
                </li><li>
                  <a target="_blank" rel="noopener" href="https://ecnext.jp/#" title="YouTube">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18.032" height="12.622" viewBox="0 0 18.032 12.622">
                      <path id="Path_3430" data-name="Path 3430" d="M194.7,86.01a2.258,2.258,0,0,0-1.594-1.594,66.035,66.035,0,0,0-14.09,0,2.258,2.258,0,0,0-1.594,1.594,25.19,25.19,0,0,0,0,8.68,2.258,2.258,0,0,0,1.594,1.594,66.035,66.035,0,0,0,14.09,0A2.258,2.258,0,0,0,194.7,94.69a25.191,25.191,0,0,0,0-8.68Zm-10.442,7.045v-5.41l4.685,2.7Z" transform="translate(-177.05 -84.039)" fill="#222"></path>
                    </svg>
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                </li></ul>
          </div>
</div>
</div>