<div id="shopify-section-1632469904ff4fe1a1" class="shopify-section"><style>#insta-feed{width:80%;}#insta-feed h2{font-size:30px;font-family: Rubik;}@font-face {
  font-family: Rubik;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/rubik/rubik_n5.f97dbc3e9fcd4b0600eda5618b64d40876a69dfd.woff2?h1=ZmFudGEtc2hvcC5qcA&hmac=afb503a02c3de0ef153f18f57c70febe58c55d0c9fb8914cc483155663c624d6") format("woff2"),
       url("https://fonts.shopifycdn.com/rubik/rubik_n5.f169404a78fe777aeba445544fad61a6bf365a3d.woff?h1=ZmFudGEtc2hvcC5qcA&hmac=ebbd2af01afe45b45472dff227ffb9c2ea5229b64c2c7f98a020699e1909b8ba") format("woff");
}
</style><div id="insta-feed"><h2>Instagram</h2><a href="#1-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/275992649_714076070004956_7147114540421725863_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q-HSSzEzvq8AX_fYEbH&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_TY6UKQr3MNpVu5Csglfe2MJt4a9Q7cxF_47iN8ch4pg&amp;oe=6241D5E2" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275992649_714076070004956_7147114540421725863_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q-HSSzEzvq8AX_fYEbH&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_TY6UKQr3MNpVu5Csglfe2MJt4a9Q7cxF_47iN8ch4pg&amp;oe=6241D5E2" alt="トリマーさんの間では非常に人気の「#スクラバーブラシダブル」。

元々はショッキングピンクのお色のみでしたが、グレーのお色も増えました🐰🌟

シリコンだからサビないのでこれ１本で長く使えるのが特徴 on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="1-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="1-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/275992649_714076070004956_7147114540421725863_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q-HSSzEzvq8AX_fYEbH&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_TY6UKQr3MNpVu5Csglfe2MJt4a9Q7cxF_47iN8ch4pg&amp;oe=6241D5E2" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275992649_714076070004956_7147114540421725863_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q-HSSzEzvq8AX_fYEbH&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_TY6UKQr3MNpVu5Csglfe2MJt4a9Q7cxF_47iN8ch4pg&amp;oe=6241D5E2" alt="トリマーさんの間では非常に人気の「#スクラバーブラシダブル」。

元々はショッキングピンクのお色のみでしたが、グレーのお色も増えました🐰🌟

シリコンだからサビないのでこれ１本で長く使えるのが特徴"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#8-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#2-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">トリマーさんの間では非常に人気の「#スクラバーブラシダブル」。

元々はショッキングピンクのお色のみでしたが、グレーのお色も増えました🐰🌟

シリコンだからサビないのでこれ１本で長く使えるのが特徴。
シャンプー時にも最適です。

また、やわらかいので肌がデリケートな子にも安心して使っていただく事ができます。
肌を適度に刺激することで、マッサージ効果により新陳代謝も活発になります。

独自の構造トリプルフィンガー（3本の突起）でしつこくからんだ抜け毛もすばやくきれいに😇☝
長毛にも短毛にも（両面）使えるダブルタイプです🥰

--------------------------------------
商品名：スクラバーブラシダブル
サイズ：12×5.7ｃｍ
金額：¥1,320(税込)

@fantasystagram
-----------------------------------------</div><div class="post-date">3月18日 • <object><a href="https://www.instagram.com/p/CbOnF8DLI2o/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#2-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/275656291_431623875388260_6795996098962364311_n.webp?stp=dst-jpg&amp;_nc_cat=110&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=dQ0xRfUet9IAX93mHr4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT-gPyuLcB_nb1LeHpo9CKs949KQjoMlMAnb77j9xaqcVg&amp;oe=62417245" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275656291_431623875388260_6795996098962364311_n.webp?stp=dst-jpg&amp;_nc_cat=110&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=dQ0xRfUet9IAX93mHr4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT-gPyuLcB_nb1LeHpo9CKs949KQjoMlMAnb77j9xaqcVg&amp;oe=62417245" alt=".
【キャンペーンのお知らせ】

毎月１２日に開催されるワンニャンDAY🐶🐱が明日０時より始まります！

この日限定で弊社の店舗（本店・Yahoo・楽天）にて犬猫商品（*一部対象外商品あり）が「１ on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="2-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="2-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/275656291_431623875388260_6795996098962364311_n.webp?stp=dst-jpg&amp;_nc_cat=110&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=dQ0xRfUet9IAX93mHr4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT-gPyuLcB_nb1LeHpo9CKs949KQjoMlMAnb77j9xaqcVg&amp;oe=62417245" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275656291_431623875388260_6795996098962364311_n.webp?stp=dst-jpg&amp;_nc_cat=110&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=dQ0xRfUet9IAX93mHr4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT-gPyuLcB_nb1LeHpo9CKs949KQjoMlMAnb77j9xaqcVg&amp;oe=62417245" alt=".
【キャンペーンのお知らせ】

毎月１２日に開催されるワンニャンDAY🐶🐱が明日０時より始まります！

この日限定で弊社の店舗（本店・Yahoo・楽天）にて犬猫商品（*一部対象外商品あり）が「１"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#1-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#3-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">.
【キャンペーンのお知らせ】

毎月１２日に開催されるワンニャンDAY🐶🐱が明日０時より始まります！

この日限定で弊社の店舗（本店・Yahoo・楽天）にて犬猫商品（*一部対象外商品あり）が「１０％オフ」になるとってもお得なお知らせです😇✨

インスタグラムのTOPページのプロフィールより、HPに飛ぶことが出来ます🙂☝

＃ワンちゃん #ネコちゃん のためのお買い物デー💖💖

普段買えないようなものなどゲットできるチャンスです！
是非チェックしてみてね♪

期間 : 12日0:00~12日23:59まで</div><div class="post-date">3月11日 • <object><a href="https://www.instagram.com/p/Ca8lRCGrRx2/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#3-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/275097294_329502539145488_901836641596363347_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=qebZahcf_X4AX_eeVNK&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_s-GUB2jBSdcA71xISzlmfvB_-Fqc2sUkDJ-U_Anv77w&amp;oe=6241AA65" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275097294_329502539145488_901836641596363347_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=qebZahcf_X4AX_eeVNK&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_s-GUB2jBSdcA71xISzlmfvB_-Fqc2sUkDJ-U_Anv77w&amp;oe=6241AA65" alt=".
※チケットは終了しました。
第１１回インターペット　～人とペットの豊かな暮らしフェア～
に出展する予定ですので、皆様とお会いできるのを楽しみにしています♪

#インターペット は国内最大級のペット on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="3-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="3-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/275097294_329502539145488_901836641596363347_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=qebZahcf_X4AX_eeVNK&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_s-GUB2jBSdcA71xISzlmfvB_-Fqc2sUkDJ-U_Anv77w&amp;oe=6241AA65" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275097294_329502539145488_901836641596363347_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=qebZahcf_X4AX_eeVNK&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_s-GUB2jBSdcA71xISzlmfvB_-Fqc2sUkDJ-U_Anv77w&amp;oe=6241AA65" alt=".
※チケットは終了しました。
第１１回インターペット　～人とペットの豊かな暮らしフェア～
に出展する予定ですので、皆様とお会いできるのを楽しみにしています♪

#インターペット は国内最大級のペット"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#2-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#4-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">.
※チケットは終了しました。
第１１回インターペット　～人とペットの豊かな暮らしフェア～
に出展する予定ですので、皆様とお会いできるのを楽しみにしています♪

#インターペット は国内最大級のペット総烏合イベントです🐶🐱🐰🐹🐦

今年も新型コロナウイルス対策を徹底しながらの取り組みとなります🙂

※ご来場の場合は事前に注意事項を確認しておいてください。

. .
まだ、チケットを購入していない！と言う方は弊社のHPにて商品を購入頂いた方に限り無料招待券を８組様にプレゼントさせていただきます（希望者のみ）！💓
.
チケットご希望の方は購入時（1000円以上お買い上げの上）の備考欄に
「インターペット2022チケット希望」とご記入下さい🥰
お一人様1組(2枚)まで、先着順とさせて頂きますので、
チケット無くなり次第終了いたします。

ファンタジーワールドのブースはホール２の「F001」です！
楽しいイベントも色々やってるみたいなので是非遊びに来てね🐕🌿！ .
——————————————————
-詳細-
日時：2022年4月1日(金)-3(日)
場所：東京ビッグサイト
　　 　ホール２　　
ブース：F001
時間：10:00-17:00

ペットの同伴OK⭕️

入場料：
【前売り券】
①1日券（駐車場付き）≪10:00-17:00≫：￥4,500　
※1枚に対して1人分の入場券と車1台分の駐車枠が含まれます。
②1日券　　　　　　　≪10:00-17:00≫：￥1,500　
③午後券　　　　　　 ≪13:00-17:00≫：￥700
※13:00まではご入場できませんのでご注意ください。

【当日券】
①1日券のみ　≪10:00-17:00≫：￥2,000　※1日100枚限定

イベントの詳しい情報はWebサイトへ！
🔍 "インターペット" で 検索 .
——————————————————

4月の連休はみんなで #東京ビッグサイト へ遊びに行こう！</div><div class="post-date">3月4日 • <object><a href="https://www.instagram.com/p/CaqmJScLzDA/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#4-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/275035580_1039482016779986_2286446741042325603_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-rlalO5BxJEAX9qlv8F&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8IVRCsnwmkNRcdnyvOpqA9HvXPz3uqP3gIcrIkK9uIIA&amp;oe=62419491" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275035580_1039482016779986_2286446741042325603_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-rlalO5BxJEAX9qlv8F&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8IVRCsnwmkNRcdnyvOpqA9HvXPz3uqP3gIcrIkK9uIIA&amp;oe=62419491" alt="Hello March 🐣!!

早くも３月に突入ですね！
少しずつではありますが、梅の花をチラホラ見る機会が増えてきました！
春のお散歩に向けてノミダニ防止対策を少しづつ考えていかなければならない on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="4-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="4-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/275035580_1039482016779986_2286446741042325603_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-rlalO5BxJEAX9qlv8F&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8IVRCsnwmkNRcdnyvOpqA9HvXPz3uqP3gIcrIkK9uIIA&amp;oe=62419491" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/275035580_1039482016779986_2286446741042325603_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-rlalO5BxJEAX9qlv8F&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8IVRCsnwmkNRcdnyvOpqA9HvXPz3uqP3gIcrIkK9uIIA&amp;oe=62419491" alt="Hello March 🐣!!

早くも３月に突入ですね！
少しずつではありますが、梅の花をチラホラ見る機会が増えてきました！
春のお散歩に向けてノミダニ防止対策を少しづつ考えていかなければならない"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#3-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#5-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">Hello March 🐣!!

早くも３月に突入ですね！
少しずつではありますが、梅の花をチラホラ見る機会が増えてきました！
春のお散歩に向けてノミダニ防止対策を少しづつ考えていかなければならない季節がやって参りました🐕☘

まだまだ寒いところもありますが春が待ち遠しいですね🌸

最も安全で 最も長く効果が持続するノミ・ダニ予防システムを知っていますか☺️？
「キャタンドッグ」は首にぶら下げるだけで効果を発揮してくれます💖！

薬を使わないからとっても安心！
地球の自然エネルギー（磁場）を利用！

有害な化学物質は全く含まず、副作用もないので安心してペットに使用することが可能です🌿

愛犬・愛猫の健康は飼い主さんの意識によって変わります！

いつまでも末長く健康に過ごせますように♪✨</div><div class="post-date">3月1日 • <object><a href="https://www.instagram.com/p/CaixCHMppav/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#5-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/274241579_535032951055661_4016036393601983503_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gAgzMnuDJ2kAX-bbLT3&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8xMOLNULLttRXU3JLbGRkWr8Is1kuunXiOz6fdw_Igrw&amp;oe=6242A794" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/274241579_535032951055661_4016036393601983503_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gAgzMnuDJ2kAX-bbLT3&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8xMOLNULLttRXU3JLbGRkWr8Is1kuunXiOz6fdw_Igrw&amp;oe=6242A794" alt=".

弊社で取扱の商品「ドッグブーツ」をご紹介🐕☘️

肉球が傷ついているとき、関節トラブルなどのため歩きにくいときにおすすめしています。足を保護し、汚さないので、ケアしながら気軽にお散歩ができます on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="5-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="5-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/274241579_535032951055661_4016036393601983503_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gAgzMnuDJ2kAX-bbLT3&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8xMOLNULLttRXU3JLbGRkWr8Is1kuunXiOz6fdw_Igrw&amp;oe=6242A794" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/274241579_535032951055661_4016036393601983503_n.webp?stp=dst-jpg&amp;_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gAgzMnuDJ2kAX-bbLT3&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT8xMOLNULLttRXU3JLbGRkWr8Is1kuunXiOz6fdw_Igrw&amp;oe=6242A794" alt=".

弊社で取扱の商品「ドッグブーツ」をご紹介🐕☘️

肉球が傷ついているとき、関節トラブルなどのため歩きにくいときにおすすめしています。足を保護し、汚さないので、ケアしながら気軽にお散歩ができます"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#4-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#6-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">.

弊社で取扱の商品「ドッグブーツ」をご紹介🐕☘️

肉球が傷ついているとき、関節トラブルなどのため歩きにくいときにおすすめしています。足を保護し、汚さないので、ケアしながら気軽にお散歩ができます。

寒い冬の雪道の冷たさ、暑い夏のアスファルトの熱さ、雨の時のぬかるみの危険性、災害時の悪路・ガレキによるケガの心配を避けたい場合にも活用できます。

生地感について良くお問合せを頂くので、動画も載せています🙂
スワイプ→してみてみてね💓
生地感伝わるかなぁ～～　上の部分はウェットスーツな生地感で下はナイロンっぽい生地です☝️

サイズに関しましてはホームページをご覧ください。</div><div class="post-date">2月21日 • <object><a href="https://www.instagram.com/p/CaOQZ-OljN3/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#6-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/273938969_542870960096950_3112175194157905476_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=UJyadVsFwgAAX-8RsqP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_UKsEHVCg9iQxZ7FkWyM2hZsub95tKO1_OutrX8aXy5w&amp;oe=6241829D" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273938969_542870960096950_3112175194157905476_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=UJyadVsFwgAAX-8RsqP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_UKsEHVCg9iQxZ7FkWyM2hZsub95tKO1_OutrX8aXy5w&amp;oe=6241829D" alt=".
来週は猫の日、にゃんにゃんにゃんデー(2月22日)があります🐈♪

そこで、弊社のストーリーにていつもフォローして下さっているにゃんこちゃん達😺をご紹介したいと思います！✨

その中で選ばれた on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="6-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="6-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/273938969_542870960096950_3112175194157905476_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=UJyadVsFwgAAX-8RsqP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_UKsEHVCg9iQxZ7FkWyM2hZsub95tKO1_OutrX8aXy5w&amp;oe=6241829D" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273938969_542870960096950_3112175194157905476_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=UJyadVsFwgAAX-8RsqP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_UKsEHVCg9iQxZ7FkWyM2hZsub95tKO1_OutrX8aXy5w&amp;oe=6241829D" alt=".
来週は猫の日、にゃんにゃんにゃんデー(2月22日)があります🐈♪

そこで、弊社のストーリーにていつもフォローして下さっているにゃんこちゃん達😺をご紹介したいと思います！✨

その中で選ばれた"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#5-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#7-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">.
来週は猫の日、にゃんにゃんにゃんデー(2月22日)があります🐈♪

そこで、弊社のストーリーにていつもフォローして下さっているにゃんこちゃん達😺をご紹介したいと思います！✨

その中で選ばれた何人かのネコさんは投稿フィードにもアップします☝️💓！

【応募方法】

とっても簡単☺️！

１.@fantasystagram をフォローする
２. DMにてお気に入りの写真１枚を送る
３. ねこちゃんのお名前と簡単な自己紹介を送る

たったの３ステップにてエントリー完了です🥳💚！

選ばれた猫ちゃんはプレゼントが貰えちゃうかも🎁？！

是非うちの子紹介にご応募ください！

【応募期限】
２月２１日まで

#うちの子選手権

弊社ホームページでは22日まで20%オフになるにゃんにゃんにゃんデーもやっておりますので、そちらも見て頂けたら嬉しいです🥰🥰
@fantasystagram</div><div class="post-date">2月16日 • <object><a href="https://www.instagram.com/p/CaBVlA3LFg3/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#7-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/273571020_128212996380805_3106480836715687368_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Mw_FS5wF9ncAX8ix_Ob&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_7x_4yQTYEgiTg1B4Va3yLhC-96S8INbd_Q2G2IlhQeA&amp;oe=62420A63" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273571020_128212996380805_3106480836715687368_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Mw_FS5wF9ncAX8ix_Ob&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_7x_4yQTYEgiTg1B4Va3yLhC-96S8INbd_Q2G2IlhQeA&amp;oe=62420A63" alt="４輪バギー シルバーウイングが絶賛発売中！🌟

大型犬や多頭飼いに最適な4輪バギー「シルバーウイング」🐶🐾

女性でもスムーズに運転することができて、大型犬の介護用にもとっても便利☝️!

使い on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="7-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="7-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/273571020_128212996380805_3106480836715687368_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Mw_FS5wF9ncAX8ix_Ob&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_7x_4yQTYEgiTg1B4Va3yLhC-96S8INbd_Q2G2IlhQeA&amp;oe=62420A63" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273571020_128212996380805_3106480836715687368_n.webp?stp=dst-jpg&amp;_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Mw_FS5wF9ncAX8ix_Ob&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT_7x_4yQTYEgiTg1B4Va3yLhC-96S8INbd_Q2G2IlhQeA&amp;oe=62420A63" alt="４輪バギー シルバーウイングが絶賛発売中！🌟

大型犬や多頭飼いに最適な4輪バギー「シルバーウイング」🐶🐾

女性でもスムーズに運転することができて、大型犬の介護用にもとっても便利☝️!

使い"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#6-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#8-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">４輪バギー シルバーウイングが絶賛発売中！🌟

大型犬や多頭飼いに最適な4輪バギー「シルバーウイング」🐶🐾

女性でもスムーズに運転することができて、大型犬の介護用にもとっても便利☝️!

使いやすい機能が充実しているこちらのカート。
前面からも後方からもファスナーで開ける事ができるので、わんちゃんの乗り降りが楽々♪

別売りのハンモックを取りつけると猫ちゃんも一緒に乗れちゃいます★

詳しくはホームページをご覧ください🌷</div><div class="post-date">2月9日 • <object><a href="https://www.instagram.com/p/CZvZYv1F1lk/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div><a href="#8-insta-feed"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:95%;height:95%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/273116337_658606665591812_5977934722282767025_n.webp?stp=dst-jpg&amp;_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=kor6c0KaqGkAX_wZHCq&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT9mtx_jvCKPiIPXQFvEuSU47xgqBQU2dyzTYObFyRmkKw&amp;oe=62420CAD" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273116337_658606665591812_5977934722282767025_n.webp?stp=dst-jpg&amp;_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=kor6c0KaqGkAX_wZHCq&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT9mtx_jvCKPiIPXQFvEuSU47xgqBQU2dyzTYObFyRmkKw&amp;oe=62420CAD" alt="【チワワ飼っている方必須❗】

あなたの愛犬が弊社商品パッケージに載ります！

メッシュマズルのモデル犬になりたい方急遽大募集🐾✨

商品サイズ:0号　口回り約10cm 幅[上部] 約2.5cm 幅 on Instagram"><div style="width:95%;height:95%;" class="instafeed-overlay "></div></div></a><div class="instafeed-lightbox" id="8-insta-feed"><div class="lightbox-instagram" role="dialog" aria-labelledby="8-insta-feed" aria-modal="true"><div class="instafeed-post-image"><a href="#_" tabindex="-1"><img class="js-lazy-image js-lazy-image--handled" src="https://scontent.cdninstagram.com/v/t51.29350-15/273116337_658606665591812_5977934722282767025_n.webp?stp=dst-jpg&amp;_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=kor6c0KaqGkAX_wZHCq&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT9mtx_jvCKPiIPXQFvEuSU47xgqBQU2dyzTYObFyRmkKw&amp;oe=62420CAD" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/273116337_658606665591812_5977934722282767025_n.webp?stp=dst-jpg&amp;_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=kor6c0KaqGkAX_wZHCq&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AT9mtx_jvCKPiIPXQFvEuSU47xgqBQU2dyzTYObFyRmkKw&amp;oe=62420CAD" alt="【チワワ飼っている方必須❗】

あなたの愛犬が弊社商品パッケージに載ります！

メッシュマズルのモデル犬になりたい方急遽大募集🐾✨

商品サイズ:0号　口回り約10cm 幅[上部] 約2.5cm 幅"></a></div><div class="description"><div class="instafeed-header"><div class="close-button"><a style="height:25px;width:25px;display:block!important;position:relative;" aria-label="close button" href="#_" id="close-button-url"></a></div><object><a href="https://www.instagram.com/fantasystagram" target="_blank" rel="noopener" tabindex="-1"><img src="//instafeed.nfcube.com/assets/img/instagram-logo.png" data-feed-id="insta-feed" class="profile-picture js-lazy-image" data-src="false" alt="instagram profile picture"></a></object><object class="name-section"><a class="fullname" href="https://www.instagram.com/fantasystagram/" target="_blank" rel="noopener"><div class="fullname instafeed-text" data-feed-id="insta-feed">fantasystagram</div><div class="username">@fantasystagram</div></a></object></div><hr><div class="box-content"><div class="sub-header"><div class="post-engagement"></div><div class="arrows"><object><a href="#7-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="previous image"></a></object><object><a href="#1-insta-feed"><img src="//instafeed.nfcube.com/assets/img/pixel.gif" alt="next image"></a></object></div></div> <div class="instafeed-caption">【チワワ飼っている方必須❗】

あなたの愛犬が弊社商品パッケージに載ります！

メッシュマズルのモデル犬になりたい方急遽大募集🐾✨

商品サイズ:0号　口回り約10cm 幅[上部] 約2.5cm 幅[下部]約3.5cm

モデル犬になってくれたワンコ🐶には豪華プレゼント🎁を贈呈させていただきます😌
(オーブンベークドトラディションよりプレゼントさせていただきます)

応募条件
・チワワ犬であること
・ご自宅で撮影して頂ける方
・全世界に配信されてもよいわんこ

使用して頂く商品はスワイプ→してご覧ください。

【応募方法】
-------------------------
①ファンタジーワールド(@fantasystagram )をフォロー✅

②この投稿に「いいね！」をお願いいたします❤️👍

③この投稿のコメント欄に、モデル犬になってくれるチワワ犬達はコメントを残してください！

--------------------------

応募期間

２月２日～２月３日の１日限定募集！

⭐️当選された方のみ、ファンタジーワールド公式からDMをお送りいたします。
⭐️DM送信後3日以内にご連絡がいただけない場合、キャンセルとさせていただきます。ご注意くださいませ。

皆様のご応募お待ちしております！
お友達ワンコにも教えてあげてね🐶！♪</div><div class="post-date">2月2日 • <object><a href="https://www.instagram.com/p/CZdR5Nvl186/" target="_blank" rel="noopener" class="follow">View on Instagram</a></object></div></div></div></div></div></div></div>