<div id="shopify-section-newsletter" class="custom_mail shopify-section c-newsletter"><div class="index-section newsletter-newsletter color-scheme-none">
    
      <div class="c-newsletter__imgBox">
        <div class="c-newsletter__img">
          <img src="/html/template/default/assets/img/top/mail.png" alt="" class="u-img pc">
        </div>
      </div>
    
    
      <div class="c-newsletter__imgBox">
        <div class="c-newsletter__img">
          <img src="/html/template/default/assets/img/top/mail.png" alt="" class="u-img sp">
        </div>
      </div>
    
  

  <div class="page-width text-center c-newsletter-container">
    
    <div class="c-newsletter-containerBox"><p class="h2">会員特典</p><div class="rte rte--large">
          <div class="enlarge-text">
            <p align="left">  購買金額等に応じた会員ステージを設定。
            <br>良くお買い上げいただけるお客様を優遇、
            <br>最大店内全品20%ポイント還元！ポイントも貯まる！</p>
          </div>
        </div></div>
</div>
</div>


</div>