{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% form_theme form 'Form/form_div_layout.twig' %}

<div id="hotkeyword" class="drawer_block" style="display: block;">
  <ul class="list_word">
          <li><a href="https://www.ecnext.jp/products/list?category_id=&name=%E3%83%94%E3%83%B3%E3%83%96%E3%83%A9%E3%82%B7">ピンブラシ</a></li>
          <li><a href="https://www.ecnext.jp/products/list?category_id=&name=%E9%9D%99%E9%9B%BB%E6%B0%97%E5%AF%BE%E7%AD%96">静電気対策</a></li>
          <li><a href="https://www.ecnext.jp/products/list?category_id=&name=%E4%BF%9D%E6%B9%BF%E3%82%B1%E3%82%A2">保湿ケア</a></li>
          <li><a href="https://www.ecnext.jp/products/list?category_id=&name=%E3%83%AF%E3%83%8B%E8%82%89">ワニ肉</a></li>
          <li><a href="https://www.ecnext.jp/products/list?category_id=&name=%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC">シャンプー</a></li>
      </ul>
</div>


<div class="ec-headerSearch">
    <form method="get" class="searchform" action="{{ path('product_list') }}">
        <div class="ec-headerSearch__category">
            <div class="ec-select ec-select_search">
                {{ form_widget(form.category_id, {'id': null, 'attr': {'class': 'category_id'}}) }}
            </div>
        </div>
        <div class="ec-headerSearch__keyword">
            <div class="ec-input">
                {{ form_widget(form.name, {'id': null, 'attr': {'class': 'search-name', 'placeholder' : 'キーワードを入力' }} ) }}
                <button class="ec-headerSearch__keywordBtn" type="submit">
                    <div class="ec-icon">
                        <img src="{{ asset('assets/icon/search-dark.svg') }}" alt="">
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>