{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% form_theme form 'Form/form_div_layout.twig' %}

<div id="hotkeyword" class="drawer_block" style="display: block;">
  <ul class="list_word">
          <li><a href="https://ecnext.jp/products/list?category_id=&name=%E3%83%A1%E3%82%A4%E3%83%89%E6%9C%8D">メイド服</a></li>
          <li><a href="https://ecnext.jp/products/list?category_id=&name=%E3%83%8F%E3%83%AD%E3%82%A6%E3%82%A3%E3%83%B3">ハロウィン</a></li>
          <li><a href="https://ecnext.jp/products/list?category_id=&name=%E3%83%AD%E3%83%AA%E3%83%BC%E3%82%BF">ロリータ</a></li>
          <li><a href="https://ecnext.jp/products/list?category_id=&name=%E3%82%A6%E3%82%A3%E3%83%83%E3%82%B0">ウィッグ</a></li>
          <li><a href="https://ecnext.jp/products/list?category_id=&name=%E3%82%BB%E3%82%AF%E3%82%B7%E3%83%BC">セクシー</a></li>
      </ul>
</div>


<div class="ec-headerSearch">
    <form method="get" class="searchform" action="{{ path('product_list') }}">
        <div class="ec-headerSearch__category">
            <div class="ec-select ec-select_search">
                {{ form_widget(form.category_id, {'id': null, 'attr': {'class': 'category_id'}}) }}
            </div>
        </div>
        <div class="ec-headerSearch__keyword">
            <div class="ec-input">
                {{ form_widget(form.name, {'id': null, 'attr': {'class': 'search-name', 'placeholder' : 'キーワードを入力' }} ) }}
                <button class="ec-headerSearch__keywordBtn" type="submit">
                    <div class="ec-icon">
                        <img src="{{ asset('assets/icon/search-dark.svg') }}" alt="">
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>