<div id="shopify-section-custom-service-grid" class="custom_songliao shopify-section"><div class="c-service-grid">
    <div class="c-service-grid__main">
        
            <div class="c-service-grid__itemBox">
                <div class="c-service-grid__item">
                    
                        <div class="c-service-grid__imgBox">
                            <div class="c-service-grid__img">
                                <img src="/html/template/default/assets/img/top/delivery.png" alt="" class="u-img">
                            </div>
                        </div>
                    
                    <div class="c-service-grid__content">
                        
                            <h2 class="c-service-grid__contentTitle">
                                送料<span>無料</span>
                            </h2>
                        

                        
                            <p class="c-service-grid__contentText">
                                5,500円以上のお買い物<br>※一部地域を除く
                            </p>
                        
                    </div>
                </div>
            </div>
        
            <div class="c-service-grid__itemBox">
                <div class="c-service-grid__item">
                    
                        <div class="c-service-grid__imgBox">
                            <div class="c-service-grid__img">
                                <img src="/html/template/default/assets/img/top/ontheday.png" alt="" class="u-img">
                            </div>
                        </div>
                    
                    <div class="c-service-grid__content">
                        
                            <h2 class="c-service-grid__contentTitle">
                                <span>即日</span>発送
                            </h2>
                        

                        
                            <p class="c-service-grid__contentText">
                                14時までのご注文<br>※在庫商品限り
                            </p>
                        
                    </div>
                </div>
            </div>
        
            <div class="c-service-grid__itemBox">
                <div class="c-service-grid__item">
                    
                        <div class="c-service-grid__imgBox">
                            <div class="c-service-grid__img">
                                <img src="/html/template/default/assets/img/top/membership.png" alt="" class="u-img">
                            </div>
                        </div>
                    
                    <div class="c-service-grid__content">
                        
                            <h2 class="c-service-grid__contentTitle">
                                年会費<span>無料</span>
                            </h2>
                        

                        
                            <p class="c-service-grid__contentText">
                                ポイントもよく貯まる
                            </p>
                        
                    </div>
                </div>
            </div>
        
    </div>
</div>


</div>