<div id="apg_markdown_help" class="iziModal" style="display: none;">
    <p>
        以下、Markdown記法のチートシートです。
    </p>
    <table>
        <tr>
            <th>見出し</th>
            <td># 見出しh1 <br> ## 見出しh2</td>
        </tr>
        <tr>
            <th>リスト</th>
            <td>- 箇条書き<br>&nbsp;&nbsp;&nbsp;- インデントはタブ</td>
        </tr>
        <tr>
            <th>番号付きリスト</th>
            <td>1. テキスト</td>
        </tr>
        <tr>
            <th>空行・改行</th>
            <td>半角スペース2つ、&lt;br&gt;など</td>
        </tr>
        <tr>
            <th>インライン表示</th>
            <td>`テキスト`</td>
        </tr>
        <tr>
            <th>リンクの挿入</th>
            <td>[タイトル](URL)</td>
        </tr>
        <tr>
            <th>引用</th>
            <td>&gt; テキスト<br> &gt;&gt; テキスト</td>
        </tr>
        <tr>
            <th>画像の挿入</th>
            <td>ドラッグ＆ドロップ <br> ![代替テキスト](URL "タイトル")</td>
        </tr>
        <tr>
            <th>画像の挿入（サイズ指定）</th>
            <td>&lt;img width="数値" alt="代替テキスト" src="URL"&gt;</td>
        </tr>
        <tr>
            <th>テーブルの挿入</th>
            <td>列数x行数</td>
        </tr>
        <tr>
            <th>太字</th>
            <td>**テキスト**</td>
        </tr>
        <tr>
            <th>斜体</th>
            <td>*テキスト*</td>
        </tr>
        <tr>
            <th>打ち消し線</th>
            <td>~~テキスト~~</td>
        </tr>
        <tr>
            <th>水平線</th>
            <td>-----</td>
        </tr>
        <tr>
            <th>マークダウンのエスケープ</th>
            <td>\</td>
        </tr>
    </table>
</div>
